:root {
    --kitched-red-color: #c82321;
    --light-grey-color: #e5e7eb;
    --background-color: #f3f1e5;
    --text-color: #000000;
    --secondary-text-color:#6b7280;
    --secondary-background-color:#efebeb;
    --background-color-hover:#ddd9d9;
  }
  